body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("/images/calm_environment.png");
    background-color: purple;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-top: 0;
    color: white;
  }
  
  form input[type="text"] {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    margin-right: -5px;
  }
  
  form button {
    padding: 10px;
    background-color: cyan;
    color: black;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 1rem;
    padding: 1.5rem 1rem;
    background-color: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #taskList li div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #completedTask {
    text-decoration: line-through;
  }

  input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid black;
    border-radius: 100%;
    display: grid;
    place-content: center;
    
  }

  input[type="checkbox"]::before {
    content: url("/images/check-mark.png");
    transform: scale(0);
    transition: .2s ease-in-out;
  }

  input[type="checkbox"]:checked {
    background-color: transparent;
    border-color: black;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(0.03);
  }

  .deleteBtn {
    border: 0;
    padding: 0.25rem;
    display: grid;
    place-content: center;
    background-color: transparent;
  }

  .deleteBtn svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .deleteBtn svg path {
    transition: .2s ease-in-out;
  }

  .deleteBtn:hover svg path {
    stroke: white;
  }

  span {
    padding: 2px;
    transition: .2s ease-in-out;
  }

  span:focus {
    background-color: aliceblue;
    outline: none;
  }

  span[contenteditable]:hover {
    background-color: aliceblue;
  }